.editPostBtn {
    font-weight: 800;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: rgb(83, 83, 83);
    cursor: pointer;
    color: white;
}
.editPostBtn:hover {
    background-color: rgb(112, 112, 112);
}