.navBarContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.navBar {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    background: none;
    height: 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navLogo {
    color: black;
    font-weight: 900;
    margin-left: 2vw;
    letter-spacing: -0.2px;
}
.navList {
    display: flex;
}

.navList a {
    padding-right: 10px;
}
.navList a:last-child {
    padding-right: 0;
    margin-right: 2vw;
}
.navList a li {
    color: black;
}

.navList a li:hover {
    color: darkgrey;
}