.searchContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.searchForm input {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 250px;
    height: 35px;
    border: 1px solid darkgrey;
    border-radius: 10px 0 0 10px;
    padding-left: 8px;
}
.searchForm button {
    width: 80px;
    height: 35px;
    border: 1px solid darkgrey;
    border-left: none;
    background-color: rgb(250, 250, 250);
    border-radius: 0 10px 10px 0;
    font-weight: 600;
    cursor: pointer;
}
.searchForm button:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}
.categories {
    margin-top: 25px;
}
.categories span {
    margin-right: 10px;
    cursor: pointer;
}
.categories span:last-child {
    margin-right: 0;
}
.categories span:hover {
    color: darkgrey;
}